.buttons {
  display: flex;
  flex-direction: column;

  button {
    width: 200px;
    height: 60px;
    background-color: black;
    color: white;
    margin: 10px;
    font-family: serif;
    font-size: 2rem;
    font-weight: 600;
    border: 0;
    border-radius: 50px;
    box-shadow: 0 0 18px 18px hsl(93, 69, 25) inset;
    -webkit-transition: box-shadow 400ms;
    transition: box-shadow 400ms ease-in-out;
  }

  button:hover {
    box-shadow: 0 0 30px 30px hsl(93, 69, 31) inset;
  }
}