.buttons {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;

  button {
    margin: 10px;
    width: 200px;
    height: 60px;
    background-color: black;
    color: white;
    font-family: serif;
    font-size: 2rem;
    border: 0;
    border-radius: 50px;
    box-shadow: 0 0 18px 18px hsl(93, 69, 25) inset;
    transition: box-shadow 500ms ease-in-out;
  }

  button:hover {
    box-shadow: 0 0 27px 27px hsl(93, 69, 31) inset;
  }
}