* {
  padding: 0;
}

footer {
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
  background-color: rgb(248, 245, 240);
  padding: 3rem 2rem;

  .footer__column {
    width: 25%;
    padding: 0 15px;

    ul {
      list-style: none;

      a {
        text-decoration: none;
        color: gray;

        &:hover {
          color: black;
        }
      }

      li img {
        display: inline-block;
        padding-top: 10px;
      }
    }
  }
}