.form {
  display: flex;
  flex-direction: column;
  width: 26rem;
  border: 1px solid rgb(227, 227, 227);
  border-radius: 10px;
  padding: 25px;
  font-size: 1.1rem;
  font-weight: 200;

  input {
    width: 100%;
    margin: 15px 0;
    padding: 10px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
  }

  &__postcode {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-column-gap: 5px;
  }

  button {
    background-color: rgb(14, 42, 250);
    width: 10rem;
    height: 2.5rem;
    float: right;
    border: 0;
    border-radius: 6px;
    font-size: 1.4rem;
    margin-top: 8px;
    font-weight: bold;
    color: white;
  }
}