.navbar {
  background-color: $tg-color;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 65px;
  padding: 10px;

  &__elements {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    max-width: 1000px;

    &__logo {
      max-height: 100%;
    }
  }

  // HAMBURGER ICON

  &__ham {
    position: absolute;
    top: 36px;
    right: 10px;
    height: 35px;
    transform: translate(-50%, -50%);

    .bar {
      width: 35px;
      height: 4px;
      background: #fff;
      border-radius: 2px;
      transition: transform 200ms ease;
    }
  }

  // CHECKBOX

  #navbar__checkbox {
    opacity: 0;

    &:checked {

      & ~ .navbar__list,
      & ~ .navbar__list li {
        transform: translateX(0);
        width: 100vw;
      }

      & ~ .navbar__list {
        padding-left: 50px;
      }
    }
  }

  // HAMBURGER ICON ANIMATION

  &__ham .bar:not(:first-child) {
    margin-top: 7px;
  }

  #navbar__checkbox:checked + .navbar__ham {
    transform: translate(-50%, -50%) rotateY(180deg);

    .bar {
      transform: rotateY(180deg) rotateX(360deg);
    }

    .bar:nth-child(1) {
      transform: rotate(-45deg);
      margin-top: 15px;
    }

    .bar:nth-child(2) {
      opacity: 0;
    }

    .bar:nth-child(3) {
      margin-top: -15px;
      transform: rotate(45deg);
    }
  }

  // MOBILE MENU

  &__list {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: $tg-color;
    color: white;
    width: 0vw;
    height: 100%;
    overflow: hidden;
    top: 65px;
    left: 0;
    padding-top: 10px;
    z-index: 1;
    list-style-type: none;
    transition: transform 0.3s;
    transform: translateX(100vw);

    li {
      display: flex;
      align-items: baseline;
      margin: 10px 0;
      transform: translateX(100vw);

      &:nth-of-type(1) {
        transition: transform 0.3s 150ms;
      }

      &:nth-of-type(2) {
        transition: transform 0.3s 300ms;
      }

      &:nth-of-type(3) {
        transition: transform 0.3s 450ms;
      }

      a {
        color: white;
        text-decoration: none;
        font-size: 1.1rem;
        font-weight: bold;
        padding-left: 7px;
      }

      a:hover {
        border-bottom: 3px solid white;
      }
    }
  }

  // MEDIA QUERIES

  @media (min-width: 39rem) {

    .navbar__ham {
      display: none;
    }

    // DESKTOP MENU

    .navbar__list {
      flex-direction: row;
      position: static;
      width: auto;
      top: 0;
      overflow: visible;
      transform: none;

      li {
        margin: 0 15px;
        transform: none;

        &:nth-of-type(1),
        &:nth-of-type(2),
        &:nth-of-type(3) {
          transition: none;
        }
      }
    }
  }
}