.pagination {
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
  margin: 5rem 0;
  max-width: 90vw;

  &__items {
    display: inline-block;


    a {
      color: black;
      float: left;
      font-size: 1.3rem;
      padding: 10px 20px;
      margin: 0 5px;
      color: blue;
      text-decoration: none;
    }

    a:first-of-type,
    a:last-of-type {
      border: 2px solid blue;
      border-radius: 5px;
    }

    a.active {
      color: black;
    }

    a:hover:not(.active) {
      background-color: blue;
      color: white;
      font-weight: 700;
      border-radius: 5px;
    }
  }
}