.pagination {
  display: flex;
  justify-content: center;

  a {
    color: black;
    float: left;
    font-size: 1.3rem;
    padding: 15px 25px;
    color: blue;
    text-decoration: none;
  }

  a:first-of-type,
  a:last-of-type {
    border: 1px solid blue;
    border-radius: 3px;
  }

  a:hover:not(.active) {
    font-weight: 700;
  }
}