*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

/*  3. Allow percentage-based heights */
html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

/*   8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  margin: 5rem 0;
}

.clock {
  display: grid;
  place-content: center;
  width: 20rem;
  height: 20rem;
  border-radius: 10%;
  background-color: black;
}
.clock__face {
  position: relative;
  width: 18rem;
  height: 18rem;
  background-color: white;
  border-radius: 50%;
}
.clock__face::after {
  content: "";
  position: absolute;
  bottom: 50%;
  left: 50%;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  z-index: 1;
  transform: translate(-50%, 50%);
  background-color: black;
}
.clock__face--hour, .clock__face--minute, .clock__face--second {
  position: absolute;
  bottom: 50%;
  left: 50%;
  background-color: black;
  --rotation: 0;
  transform-origin: bottom;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}
.clock__face--hour {
  width: 0.7rem;
  height: 30%;
}
.clock__face--minute {
  width: 0.5rem;
  height: 35%;
}
.clock__face--second {
  width: 0.2rem;
  height: 40%;
  background-color: red;
}
.clock__face--number {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 1.5rem;
  --rotation: 0;
  transform: rotate(var(--rotation));
}
.clock__face--number:nth-child(4) {
  --rotation: 30deg;
}
.clock__face--number:nth-child(5) {
  --rotation: 60deg;
}
.clock__face--number:nth-child(6) {
  --rotation: 90deg;
}
.clock__face--number:nth-child(7) {
  --rotation: 120deg;
}
.clock__face--number:nth-child(8) {
  --rotation: 150deg;
}
.clock__face--number:nth-child(9) {
  --rotation: 180deg;
}
.clock__face--number:nth-child(10) {
  --rotation: 210deg;
}
.clock__face--number:nth-child(11) {
  --rotation: 240deg;
}
.clock__face--number:nth-child(12) {
  --rotation: 270deg;
}
.clock__face--number:nth-child(13) {
  --rotation: 300deg;
}
.clock__face--number:nth-child(14) {
  --rotation: 330deg;
}

.carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel__inner {
  position: relative;
  width: 22rem;
  overflow: hidden;
}
.carousel__inner > .active, .carousel__inner > .next {
  display: block;
}
.carousel__inner > .next {
  position: absolute;
  top: 0;
}
.carousel__inner > .to-left {
  -webkit-animation-name: left;
          animation-name: left;
}
.carousel__inner > .from-right {
  -webkit-animation-name: right;
          animation-name: right;
}
.carousel__inner > .to-right {
  -webkit-animation-name: right;
          animation-name: right;
  animation-direction: reverse;
}
.carousel__inner > .from-left {
  -webkit-animation-name: left;
          animation-name: left;
  animation-direction: reverse;
}
.carousel__item {
  position: relative;
  display: none;
  width: 20rem;
  height: 20rem;
  padding-top: 3rem;
  padding-left: 8rem;
  font-size: 8rem;
  border-radius: 10%;
  background-color: #f1f1f1;
  -webkit-animation: 0.5s ease-in-out;
          animation: 0.5s ease-in-out;
}
.carousel__control {
  position: absolute;
  top: 40%;
  font-size: 2rem;
  font-weight: 800;
  z-index: 1;
  cursor: pointer;
}
.carousel__control--left {
  left: 1rem;
}
.carousel__control--right {
  right: 3rem;
}
.carousel__indicators {
  position: absolute;
  bottom: 5%;
  left: 28%;
  list-style: none;
}
.carousel__indicators li {
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  margin: 0 0.1rem;
  border-radius: 50%;
  border: 1px solid black;
  cursor: pointer;
}
.carousel__indicators li.active {
  background-color: black;
}
@-webkit-keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}
@keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}
@-webkit-keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}
@keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

.searchbar {
  display: flex;
}
.searchbar__input-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 20rem;
  border-radius: 2rem;
  background-color: #f1f1f1;
}
.searchbar__input-container input[type=text] {
  width: 90%;
  padding: 0.6rem 1.2rem;
  outline: 0;
  border: 0;
  border-radius: 2rem;
  background-color: inherit;
}
.searchbar button[type=submit] {
  padding-right: 1rem;
  border: 0;
  border-radius: 0.3rem;
  border-radius: 2rem;
  cursor: pointer;
}
.searchbar__reset {
  margin-left: 10px;
  padding: 0 1rem;
  border: 0;
  border-radius: 2rem;
  cursor: pointer;
}
.searchbar .autocomplete-items {
  position: absolute;
  top: 100%;
  left: 2%;
  right: 0;
  width: 96%;
  z-index: 1;
  border-top: none;
  border-bottom: none;
  border: 1px solid #d4d4d4;
}
.searchbar .autocomplete-items div {
  padding: 0.6rem;
  border-bottom: 1px solid #d4d4d4;
  background-color: #fff;
  cursor: pointer;
}
.searchbar .autocomplete-items div:hover {
  background-color: #e9e9e9;
}
.searchbar .autocomplete-active {
  color: #ffffff;
  background-color: DodgerBlue !important;
}