.button {
  width: 100px;
  height: 50px;
  border-radius: 5px;
  background-color: goldenrod;
  font-weight: bold;
}
.button:hover {
  background-color: gold;
}

.colorChangingSquare {
  background-color: blue;
  transition: background-color 1s;
  width: 200px;
  height: 200px;
}
.colorChangingSquare:hover {
  background-color: purple;
}