.carousel {
  position: relative;
  width: 25rem;

  &__slide {
    position: absolute;
    display: grid;
    place-content: center;
    left: 3rem;
    width: 20rem;
    height: 20rem;
    font-size: 8rem;
    border-radius: 10%;
    background-color: lightgrey;

    &--displayed {
      z-index: 1;
    }
  }

  &__button {
    display: grid;
    place-content: center;
    position: absolute;
    top: 8rem;
    width: 3rem;
    height: 3rem;
    font-size: 4rem;
    border-radius: 20%;
    border: 0;
    cursor: pointer;

    &--prev {
      left: -2rem;
    }

    &--next {
      right: -2rem;
    }
  }
}